h1 {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;

  +h2 {
    color: #22cc33;
  }
}

ul {
  >li {
    color: grey;
    margin-bottom: 4px;
  }
}
